<!--[if lt IE 9]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
<!--[if IE 7 ]><html lang="pt-br" class="isie ie7 oldie no-js"><![endif]-->
<!--[if IE 8 ]><html lang="pt-br" class="isie ie8 oldie no-js"><![endif]-->
<!--[if IE 9 ]><html lang="pt-br" class="isie ie9 no-js"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<!--<![endif]-->

<head>
	<title>Superlogica Meeting</title>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="PoC Conference Superlogica">
	<meta name="author" content="Nego Nego">
	<link rel="shortcut icon" href="assets/images/favicon.ico">
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:600,700,800|Roboto:300,400,700&display=swap"
		rel="stylesheet">
	<!-- FontAwesome JS-->
	<script defer src="assets/fontawesome/js/all.min.js"></script>
	<!-- Theme CSS -->
	<link id="theme-style" rel="stylesheet" href="assets/css/theme.css">
	<script src="https://use.fontawesome.com/73bb37cb23.js"></script>

</head>

<body>

	<%- body %>
	<!-- Javascript plugins-->
	<script src="assets/plugins/jquery-3.4.1.min.js"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/plugins/popper.min.js"></script>
	<!-- Javascript custom-->
	<script src="assets/js/main.js"></script>



</body>

</html>